/*온도 제어 버튼(submit)*/
.styled-button-temp {
  border-radius: 15px; /* 모서리를 둥그렇게 */

  color: #dc3545; /* 글씨 색 */
  border: none; /* 테두리 제거 */
  font-size: 18px; /* 글씨 크기 */
  cursor: pointer; /* 커서 모양 변경 */
  font-family: Arial, sans-serif; /* 글씨체 */
  font-weight: bold; /* 굵기 */
}

.styled-button-temp:hover {
  background-color: lightcoral; /* 호버 시 배경 색 */
}

/*물공급 제어 버튼(submit)*/
.styled-button-water {
  border-radius: 15px; /* 모서리를 둥그렇게 */
  color: #0d6efd; /* 글씨 색 */
  border: none; /* 테두리 제거 */
  font-size: 18px; /* 글씨 크기 */
  cursor: pointer; /* 커서 모양 변경 */
  font-family: Arial, sans-serif; /* 글씨체 */
  font-weight: bold; /* 굵기 */
}

.styled-button-water:hover {
  background-color: lightskyblue; /* 호버 시 배경 색 */
}

/*led 제어 버튼(submit)*/
.styled-button-led {
  border-radius: 15px; /* 모서리를 둥그렇게 */
  color: #ffc107; /* 글씨 색 */
  border: none; /* 테두리 제거 */
  font-size: 18px; /* 글씨 크기 */
  cursor: pointer; /* 커서 모양 변경 */
  font-family: Arial, sans-serif; /* 글씨체 */
  font-weight: bold; /* 굵기 */
}

.styled-button-led:hover {
  background-color: gold; /* 호버 시 배경 색 */
}

/*카메라 제어 버튼(submit)*/
.styled-button-camera {
  border-radius: 15px; /* 모서리를 둥그렇게 */
  color: #198754; /* 글씨 색 */
  border: none; /* 테두리 제거 */
  font-size: 18px; /* 글씨 크기 */
  cursor: pointer; /* 커서 모양 변경 */
  font-family: Arial, sans-serif; /* 글씨체 */
  font-weight: bold; /* 굵기 */
}

.styled-button-camera:hover {
  background-color: #45a049; /* 호버 시 배경 색 */
}



